.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.logo {
  pointer-events: none;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  font-family:'Courier New', Courier, monospace;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .main {
    height: 77.5%;
  }
  .nav {
    min-height: fit-content !important;
    min-width: 100vw !important;
    max-width: 100% !important;
    font-size: 20px !important;
    position: relative !important;

  }
  .logoContainer {
    margin-top: -15px !important;
  }
  hr.logoDivider {
    display: none !important;
  }
  .linksContainer {
    flex-direction: row !important;
    margin-top: 0 !important;
  }
  .connectBtn {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
  }
  .disconnectBtn {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
  }
  .footer {
    width: 100% !important;
    position: relative !important;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
  width: 17.5%;
  padding: 8px;
  font-size: 30px;
  background: rgb(20, 20, 20);
  position: fixed;
  left: 0;
  top: 0;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.logoContainer:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(156, 34, 238, 0.8);
}

.logoText {
  color: rgb(164, 15, 223);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-weight: lighter;
}

.logoText p {
  margin-right: 3px;
  margin-block-end: 0px;
}

.logoDivider {
  width: 80%; 
  margin: 25px 0;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
}

.link {
  color: #27a5b6;
  margin: 0 5px;
  padding: 0 10px;
  transition: 0.25s ease;
  text-align: center;
}

.link:hover {
  text-shadow: 0px 0px 10px rgba(34, 115, 238, 0.8);
  transition: 0.25s ease;
}

.link.active {
  background: rgba(253, 253, 253, 0.137);
  border-radius: 15px 0px;
  border: 1px solid rgba(128, 19, 231, 0.685);
}

.connectBtn {
  color: #c1eb07ce;
  margin: 0 10px 15px;
  padding: 0 10px;
  transition: 0.25s ease;
  text-align: center;
  background: rgba(34, 116, 238, 0.616);
  border-radius: 0px 15px;
}
.connectBtn:hover {
  text-shadow: 0px 0px 5px rgba(126, 238, 34, 0.8);
  transition: 0.25s ease;
  cursor: pointer;
  border: 1px solid #c1eb07;
}
.disconnectBtn {
  color: #07eb40;
  margin: 0 10px 15px;
  padding: 0 10px;
  transition: 0.25s ease;
  text-align: center;
  background: rgba(238, 75, 34, 0.616);
  border-radius: 15px 0px;
}
.disconnectBtn:hover {
  text-shadow: 0px 0px 5px rgba(126, 238, 34, 0.8);
  transition: 0.25s ease;
  cursor: pointer;
  border: 1px solid #07eb40;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 1s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer {
  justify-self: center;
  width: 82.5%;
  height: 10%;
  background: rgb(29, 29, 29);
  color: rgb(164, 15, 223);
  position: fixed;
  bottom: 0;
  right: 0;
}
.footerContainer {
  display: flex;
  flex-direction: row;
}
.footerContainer h3 {
  margin-left: 5%;
}
.footerContainer .linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footerContainer .linksContainer h5 {
  margin-right: 5%;
}