.container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
  background: rgba(1, 1, 1, 0.801);
}

.logo {
  pointer-events: none;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  justify-self: center;
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  font-size: calc(10px + 2vmin);
  background: rgba(20, 20, 20, 0.829);
}

.logoContainer {
  margin-left: 3%;
  display: flex;
  align-items: center;
}
.logoContainer:hover {
  cursor: pointer;
}

.logoText {
  color: rgb(199, 202, 15);
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
}

.logoText p {
  margin-right: 5px;
  margin-block-start: 15px;
  margin-block-end: 15px;
}

.linksContainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}

.link {
  color: #27a5b6;
  margin: 0 10px;
  transition: 0.25s ease;
  width: 33%;
  text-align: center;
}

.link:hover {
  text-shadow: 0px 0px 10px rgba(34, 115, 238, 0.8);
  margin-top: -5px;
  transition: 0.25s ease;
}

.link.active {
  background: rgba(253, 253, 253, 0.137);
  border-radius: 15px 0px;
}

.connectBtn {
  color: #c1eb07;
  margin: 0 10px;
  transition: 0.25s ease;
  width: 25%;
  text-align: center;
  background: rgba(34, 116, 238, 0.616);
  border-radius: 15px 0px;
}
.connectBtn:hover {
  text-shadow: 0px 0px 5px rgba(126, 238, 34, 0.8);
  transition: 0.25s ease;
  cursor: pointer;
  border: 1px solid #c1eb07;
}

.z-indexed.svelte-w5zexe {
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 1s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}